%article#page--top
  .row
    %section.user-space.col-3
    %section.post-space.col-6
      - # micropost form
      - if user_signed_in?
        = render 'top_pages/micropost', post: @micropost
      - # micropost index
      %hr
      #micro-post-list
        - if @posts
          - @posts.each do |post|
            .row
              .col-2
              .col-8
                = render 'microposts/micropost', post: post
              .col-2
    %section.recommend.col-3
